<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link {{gamesActive}}" href="/admin/games">Games</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{consolesActive}}" href="/admin/consoles">Consoles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{publishersActive}}" href="/admin/publishers">Publishers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{usersActive}}" href="/admin/users">Users</a>
  </li>
</ul>

{{#if message}}
<div class="container"> 
    <h1 class="text-center">Admin Page</h1>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>"With great power comes great responsibility."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Uncle Ben, Spider-Man
        </figcaption>
    </figure>
</div>
{{/if}}

{{#if gamesActive}}
<h2>Games</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Game</th>
            <th scope="col">Release Year</th>
            <th scope="col">Console</th>
            <th scope="col">Publisher</th>
            <th scope="col">Delete?</th>
            <th scope="col">Update?</th>
        </tr>
    </thead>
    <tbody>
        {{#each games}}
        <tr>
            <th scope="row">{{this.gameID}}</th>
            <td>{{this.gameName}}</td>
            <td>{{this.gameReleaseYear}}</td>
            <td>{{this.console}}</td>
            <td>{{this.publisher}}</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Update</button></td>
        </tr>
        {{/each}}

        <tr>
            {{!-- <td colspan="7"><button class="btn btn-secondary">Add game</button></td> --}}
        </tr>
    </tbody>
</table>

<h2>New Game:</h2>
<form action="/admin/games" method="post">
 
    <div class="form-row">
        {{!-- game name --}}
        <div class="col-md-4">
            <label for="gameName">Name</label>
            <input type="text" class="form-control" name="gameName" id="gameName">
        </div>

        {{!-- console --}}
        <div class="col-md-3">
            <label for="consoleID">Console</label>
            <select class="form-control" name="consoleID" id="consoleID">
                {{#each consoles}}
                <option value="{{this.consoleID}}">{{this.consoleName}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- publisher --}}
        <div class="col-md-3">
            <label for="publisherID">Publisher</label>
            <select class="form-control" name="publisherID" id="publisherID">
                {{#each publishers}}
                <option value="{{this.publisherID}}">{{this.publisherName}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- release year --}}
        <div class="col-md-2">
            <label for="gameReleaseYear">Release Year</label>
            <input type="number" class="form-control" name= "gameReleaseYear" id="gameReleaseYear">
        </div>
    </div>

    {{!-- submit --}}
    <div class="form-row">
        <div class="col-auto mt-3">
            <button class="btn btn-secondary">Add game</button>
        </div>
    </div>

</form>

{{/if}}

{{#if consolesActive}}
<h2>Consoles</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Consoles</th>
            <th scope="col">Release Year</th>
            <th scope="col">Console Developer</th>
            <th scope="col">Type</th>
            <th scope="col">Delete?</th>
            <th scope="col">Update?</th>
        </tr>
    </thead>
    <tbody>
        {{#each consoles}}
        <tr>
            <th scope="row">{{this.consoleID}}</th>
            <td>{{this.consoleName}}</td>
            <td>{{this.consoleReleaseYear}}</td>
            <td>{{this.consoleDeveloper}}</td>
            <td>{{this.consoleType}}</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>New Console:</h2>
<form action="/admin/consoles" method="post">
 
    <div class="form-row">
        {{!-- console name --}}
        <div class="col-md-4">
            <label for="consoleName">Name</label>
            <input type="text" class="form-control" name="consoleName" id="consoleName">
        </div>

        {{!-- console developer --}}
        <div class="col-md-4">
            <label for="consoleDeveloper">Developer</label>
            <input type="text" class="form-control" name="consoleDeveloper" id="consoleDeveloper">
        </div>

        {{!-- console type --}}
        <div class="col-md-4">
            <label for="consoleType">Console Type</label>
            <div class="mt-2">
                <div class="form-check form-check-inline">
                    <input type="radio" name="consoleType" id="home" value="Home Console" class="form-check-input">
                    <label for="home" class="form-check-label">Home</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" name="consoleType" id="handheld" value="Handheld" class="form-check-input">
                    <label for="handheld" class="form-check-label">Handheld</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" name="consoleType" id="hybrid" value="Hybrid" class="form-check-input">
                    <label for="hybrid" class="form-check-label">Hybrid</label>
                </div>
            </div>
        </div>
    </div>

    {{!-- submit --}}
    <div class="form-row">
        <div class="col-auto mt-3">
            <button class="btn btn-secondary">Add console</button>
        </div>
    </div>

</form>

{{/if}}

{{#if publishersActive}}
<h2>Publishers</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Publisher</th>
            <th scope="col">Year Founded</th>
            <th scope="col">HQ Country</th>
            <th scope="col">CEO</th>
            <th scope="col">Delete?</th>
            <th scope="col">Update?</th>
        </tr>
    </thead>
    <tbody>
        {{#each publishers}}
        <tr>
            <th scope="row">{{this.publisherID}}</th>
            <td>{{this.publisherName}}</td>
            <td>{{this.yearFounded}}</td>
            <td>{{this.hqCountry}}</td>
            <td>{{this.ceo}}</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>New Publisher:</h2>
<form action="/admin/publishers" method="post">
 
    <div class="form-row">
        {{!-- game name --}}
        <div class="col-md-4">
            <label for="publisherName">Name</label>
            <input type="text" class="form-control" name="publisherName" id="publisherName">
        </div>

        {{!-- year founded --}}
        <div class="col-md-2">
            <label for="yearFounded">Year Founded</label>
            <input type="number" class="form-control" name= "yearFounded" id="yearFounded">
        </div>

        {{!-- HQ country --}}
        <div class="col-md-3">
            <label for="hqCountry">HQ Country</label>
            <input type="text" class="form-control" name="hqCountry" id="hqCountry">
            </select>
        </div>

        {{!-- CEO --}}
        <div class="col-md-3">
            <label for="ceo">CEO</label>
            <input type="text" class="form-control" name="ceo" id="ceo">
            </select>
        </div>

        
    </div>

    {{!-- submit --}}
    <div class="form-row">
        <div class="col-auto mt-3">
            <button class="btn btn-secondary">Add publisher</button>
        </div>
    </div>

</form>

{{/if}}


{{#if usersActive}}
<h2>Users</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col">Delete?</th>
            <th scope="col">Update?</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <th scope="row">{{this.userID}}</th>
            <td>{{this.username}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.email}}</td>
            <td><button class="btn btn-danger">Delete</button></td>
            <td><button class="btn btn-warning">Update</button></td>
        </tr>
        {{/each}}

        <tr>
            <td colspan="7"><button class="btn btn-secondary" disabled>Register to add new user</button></td>
        </tr>
    </tbody>
</table>
{{/if}}
