<div class="container">
    <div>
        <h3>Console Name: </h3>
        {{#each rows}}
        <h3>{{this.consoleName}}</h3>
        {{/each}}
    </div>
    <div>
        <h4>Release Year: </h4>
        {{#each rows}}
        <h3>{{this.consoleReleaseYear}}</h3>
        {{/each}}
    </div>
</div>


<div class="container flex-game">
    <div class="card game-card" style="width: 30rem;">
        <div class="card-header">
            Console
        </div>
        {{#each rows}}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Console: {{this.consoleName}}</li>
            <li class="list-group-item">Console Type: {{this.consoleType}}</li>
            <li class="list-group-item">Developer: {{this.consoleDeveloper}}</li>
        </ul>
        {{/each}}
    </div>

    <div class="text-center">
        <!--sample image from wikipedia-->
        <img class="gameImage rounded mx-auto d-block" src="images/Game-Controller.jpg" alt="game image">
        <a href="https://www.vecteezy.com/free-vector/retro-gaming">Retro Gaming Vectors by Vecteezy</a>
    </div>
</div>

<div id="search" class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Browse Games</h5>
        </div>
        <div class="card-body">
            <h6>Search by</h6>
            <form action="/results" method="get">
                <fieldset>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="games" value="games" checked>
                        <label class="form-check-label" for="games">Games</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="publishers"
                            value="publishers">
                        <label class="form-check-label" for="publishers">Publishers</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="consoles" value="consoles">
                        <label class="form-check-label" for="consoles">Consoles</label>
                    </div>
                    <div>
                        <input type="text" name="keyword" style="width: 400px;">
                        <button type="submit" class="btn btn-secondary">Search Games</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>