<div class="container">
    <div id="intro"> 
        <div class="left">
            <h1><strong>Welcome to retroDB!</strong></h1>
            <h4>Online Games System Management</h4>
            <p>Bulbasaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ivysaur Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Venusaur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Charmander Lorem ipsum dolor sit
                amet, consectetur adipiscing elit. Charmeleon Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="card right" style="width: 18rem;">
            <img src="/images/member-icon.png" width="150">
            <div class="card-body">
                <h5 class="card-title">Not a member yet?</h5>
                <p class="card-text">You can create any number of your game lists and add any number of games to your lists!</p>
                <a href="/user/register" class="btn btn-primary">Register</a>
            </div>
        </div>
    </div>
</div>

<div id="search" class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Browse Games</h5>
        </div>
        <div class="card-body">
            <h6>Search by</h6>
            <form action="/results" method="get">
                <fieldset>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="games" value="games" checked >
                        <label class="form-check-label" for="games">Games</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="publishers" value="publishers">
                        <label class="form-check-label" for="publishers">Publishers</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="consoles" value="consoles">
                        <label class="form-check-label" for="consoles">Consoles</label>
                    </div>
                    <div>
                        <input type="text" name="keyword" style="width: 400px;" placeholder="Try mario for Games, sega for Publishers" required>
                        <button type="submit" class="btn btn-secondary">Search Games</button>
                    </div>
                    
                </fieldset>       
            </form>
        </div>
    </div> 
</div>

<div class="container">
    <h5 class="card-title">Hot Games</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Game Release Year</th>
                <th scope="col">Console</th>
                <th scope="col">Console Type</th>
                <th scope="col">Console Developer</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <th scope="row" class="count"></th>
                <td><a href="/game?name={{this.gameName}}">{{this.gameName}}</a></td>
                <td>{{this.gameReleaseYear}}</td>
                <td><a href="/console?name={{this.consoleName}}">{{this.consoleName}}</a></td>
                <td>{{this.consoleType}}</td>
                <td>{{this.consoleDeveloper}}</td>
                <td><a href="/publisher?name={{this.publisherName}}">{{this.publisherName}}</a></td>
    
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="container">
    <h5 class="card-title">Recently Added</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Game Release Year</th>
                <th scope="col">Console</th>
                <th scope="col">Console Type</th>
                <th scope="col">Console Developer</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
            <tr>
                <th scope="row" class="count"></th>
                <td><a href="/game?name={{this.gameName}}">{{this.gameName}}</a></td>
                <td>{{this.gameReleaseYear}}</td>
                <td><a href="/console?name={{this.consoleName}}">{{this.consoleName}}</a></td>
                <td>{{this.consoleType}}</td>
                <td>{{this.consoleDeveloper}}</td>
                <td><a href="/publisher?name={{this.publisherName}}">{{this.publisherName}}</a></td>
    
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>