<div class="container">
    <h1>{{name}}</h1>
    <h3>By {{username}}</h3>
    <h5>{{description}}</h5>
    <p class="mb-3">Last updated: {{lastUpdated}}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Release Year</th>
                <th scope="col">Console</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        <tbody>
            {{#each games}}
            <tr>
                <th scope="row">{{this.order}}</th>
                <td>{{this.gameName}}</td>
                <td>{{this.gameReleaseYear}}</td>
                <td>{{this.console}}</td>
                <td>{{this.publisher}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>