<div class="container">
    <h1>{{name}}</h1>
    <h3>By {{username}}</h3>
    <h5>{{description}}</h5>
    <p class="mb-3">Last updated: {{lastUpdated}}</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Release Year</th>
                <th scope="col">Console</th>
                <th scope="col">Publisher</th>
                {{#if myPage}}
                <th scope="col">Remove from list?</th>
                {{/if}}
            </tr>
        </thead>
        <tbody>
                {{#each games}}
                <tr>
                    <th scope="row">{{this.order}}</th>
                    <td>{{this.gameName}}</td>
                    <td>{{this.gameReleaseYear}}</td>
                    <td>{{this.console}}</td>
                    <td>{{this.publisher}}</td>
                    {{#if ../myPage}}
                    <td>
                        <form action="/list/delete" method="post" onsubmit="return confirm('Do you really want to remove this game from the list?');">
                            <input type="hidden" name="listID" value="{{../listID}}">
                            <input type="hidden" name="gameID" value="{{this.gameID}}">
                            <button class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                    {{/if}}
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>