<div id="search" class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Browse Games</h5>
        </div>


        <div class="card-body">
            <h6>Search by</h6>
            <form action="/results" method="post">
                <fieldset>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="games" value="gameName"
                            checked>
                        <label class="form-check-label" for="games">Games</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="publishers"
                            value="publisherName">
                        <label class="form-check-label" for="publishers">Publishers</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="searchType" id="consoles"
                            value="consoleName">
                        <label class="form-check-label" for="consoles">Consoles</label>
                    </div>
                    <div>
                        <input type="text" name="keyword" style="width: 400px;">
                        <button type="submit" class="btn btn-secondary">Search Games</button>
                    </div>
                    <h6 style="color: red;">{{{messages}}}</h6>
                    <br>


                    <p>
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Advanced Search
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body" style="background-color: rgb(249, 251, 252);">
                            <table id="filters">
                                <thead>
                                    <tr>
                                        <td>Console:</td>
                                        <td>Console Developer:</td>
                                        <td>Console Type:</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><select name="consoleName">
                                                <option value="">-</option>
                                                {{#each context.consoleName}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select></td>
                                        <td><select name="consoleDeveloper">
                                                <option value="">-</option>
                                                {{#each context.consoleDeveloper}}
                                                <option value="{{this}}">{{this}}
                                                </option>
                                                {{/each}}
                                            </select></td>
                                        <td><select name="consoleType">
                                                <option value="">-</option>
                                                {{#each context.consoleType}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select></td>

                                    </tr>
                                    <tr>
                                        <td>Publisher:</td>
                                        <td>Publisher Year Founded</td>
                                        <td>Publisher HQ Country</td>
                                    </tr>
                                    <tr>
                                        <td><select name="publisherName">
                                                <option value="">-</option>
                                                {{#each context.publisherName}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select></td>
                                        <td><select name="yearFounded">
                                                <option value="">-</option>
                                                {{#each context.yearFounded}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select></td>

                                        <td><select name="hqCountry">
                                                <option value="">-</option>
                                                {{#each context.hqCountry}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select></td>
                                    </tr>
                                    <tr>
                                        <td>Game Release Year:</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><select name="gameReleaseYear">
                                                <option value="">-</option>
                                                {{#each context.gameReleaseYear}}
                                                <option value="{{this}}">{{this}}
                                                </option>
                                                {{/each}}
                                            </select></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Game</th>
                <th scope="col">Game Release Year</th>
                <th scope="col">Console</th>
                <th scope="col">Console Type</th>
                <th scope="col">Console Developer</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        <tbody>
            {{#each context.rows}}
            <tr>
                <th scope="row" class="count"></th>
                <td><a href="/game?name={{this.gameName}}">{{this.gameName}}</a></td>
                <td>{{this.gameReleaseYear}}</td>
                <td><a href="/console?name={{this.consoleName}}">{{this.consoleName}}</a></td>
                <td>{{this.consoleType}}</td>
                <td>{{this.consoleDeveloper}}</td>
                <td><a href="/publisher?name={{this.publisherName}}">{{this.publisherName}}</a></td>

            </tr>
            {{/each}}
        </tbody>
    </table>
</div>